
langchain-community==0.0.19
langchain==0.1.6
fastapi
faiss-cpu
pypdf
uvicorn
python-multipart
ctransformers
qdrant-client
torch
sentence_transformers
chromadb
pytesseract
fitz
openai
tiktoken
frontend
unstructured